/* Importación de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:ital,wdth,wght@0,87.5,300;1,87.5,300&display=swap');

/* Definición de variables */
:root {
    --primary-color: #00327D;
    --secondary-color: #000;
    --accent1-color: #EAECEC;
    --accent2-color: #8ECAE6;
    --accent3-color: #FB8500;

    --heading-font: "Merriweather", serif;
    --paragraph-font: "Open Sans", sans-serif;

    --nav-background-color: #8ECAE6;
    --nav-link-color: #2FB5DA;
    --nav-hover-link-color: #FB8500;
    --nav-hover-background-color: #0D3244;
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para los encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Estilos para el encabezado */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--accent1-color);
}

.logo {
    justify-self: start; /* Alinea el logo a la izquierda */
}


header img {
	width: 150px;
	height: auto;
}

/* Estilos para los párrafos */
p {
    padding: 25px;
    color: var(--secondary-color); /* Añadir color al texto */
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    justify-content: flex-end; /* Alinea la barra de navegación a la derecha */
}

nav a {
    flex: 2;
    margin-left: 50px;
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-background-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    text-decoration: underline;
}

/* Estilos para la sección Hero */
.hero {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
}

.hero img {
    width: 100%;
    height: 500px;
    display: block; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.hero h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--accent1-color); /* Añadir color al texto */
    z-index: 1; /* Asegura que el texto esté encima de la imagen */
    background-color: rgba(0, 50, 125, 0.4);
    width: 100%;
    height: 70px;
    padding: 15px;
    text-align: center;
}

.hero article p {
    font-size:larger;
    font-style:italic;
    font-weight:600;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent1-color); /* Añadir color al texto */
    z-index: 0; /* Asegura que el texto esté encima de la imagen */
    background-color: rgba(142, 202, 230, 0.6); /* Color de fondo con opacidad */
    padding: 30px; /* Añadir espacio alrededor del contenido */
    width: 900px /* Establecer el ancho máximo del artículo */
}

.hero article img {
    width: 300px;
    height: 200px;
    float: right; /* Imagen flotante a la derecha del texto */
    margin-left: 100px; /* Añadir margen izquierdo para separar la imagen del texto */
}

.history {
    margin-top: 40px;
    margin-bottom: 10px;
}

.history h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.history-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.history img {
    grid-column: 1 / 2; /* Coloca la imagen en la primera columna */
    grid-row: 1 / 3; /* Haz que la imagen ocupe dos filas */
    width: 100%; /* Ajusta el ancho de la imagen */
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    margin-top: 39px;
    margin-bottom: 100px;
}

.history p {
    grid-column: 2 / 3; /* Coloca el texto en la segunda columna */
    grid-row: 1 / 3; /* Haz que el texto ocupe dos filas */
    text-align: justify;
    line-height: 1.6;
    color: var(--secondary-color);
}


.adventure {
    margin-top: 10px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* Ajuste de tamaño de columna */
    grid-template-rows: auto;
    gap: 20px;
}

.adventure h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    margin: 20px;
    grid-column: 1 / -1;
}

.adventure img{
    gap: 20px;
    width: 100%;
    height: 150px;
}

/* Figuras */
figure {
    grid-row: 2 / 3;
}

.fig-1 {
    grid-column: 1 / 2;

}

.fig-2 {
    grid-column: 2 / 3;
}

.fig-3 {
    grid-column: 3 / 4;
}

.fig-4 {
    grid-column: 4 / 5;
}

.fig-5 {
    grid-column: 5 / 6;
}

figcaption{
    text-align: center;
    font-style: italic;
}


footer {
    display: inline;
    background-color: var(--footer-bg-color);
    text-align: center;
    padding: 10px;
}

footer p {
    position: absolute;
    left: 330px;
}


.sociallinks {
  display: grid;
  grid-row: auto;
  background-color: var(--nav-background-color);
}

.sociallinks a{
    grid-row: 1/2;
}

.sociallinks img{
    width: 27px;
}

/* Last update: 07/07/2024 */

