main {
    max-width: 840px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

 main img {
    width: 150px;
    height: auto;
    border: 2px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: #b3e6e0;
    color: #691b41;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}
